body {
  margin: 0;
  font-family: 'Chelsea Market', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('./images/background_blur.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* hides scrollbar in chrome */
.styled-grid::-webkit-scrollbar {
  display: none;
}

.color-selected {
  border: 4px solid black !important;
}

.pahvi {
  position: absolute;
  left: -2px;
  top: -1px;
  width: 33px;
}

.pahvi-peittaa-true {
  width: 34px;
}

.pahvi-peittaa-false {
  display: none;
}

.landing-spot-focus-removal:focus {
  outline: 0;
}

/* .test-color {
  color: rgb(126, 139, 255);
} */